.easeout-effect-top {
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.page {
  width: 100%;
  position: absolute;
  @extend .easeout-effect-top;
}

.fade {
  opacity: 0;
  @extend .easeout-effect-top;
}

.offside {
  top: -200%;
  @extend .easeout-effect-top;
}
