<div
  class="grid"
  [style.width]="maxWidth + 'px'"
  [style.height]="maxHeight + 'px'"
  (window:resize)="onResize()"
  (window:keyup)="keyUp($event)">
  <div
    class="col-xs-4 block"
    [style.background-size]="getMaxSymbolSize() + 'px'"
    [ngClass]="filledBlocks[i]"
    (click)="clickBlock({event: $event, block: i})"
    *ngFor="let b of blocks;let i = index">
  </div>
</div>
<div class="reset"
    [style.width]="maxWidth / 20 + 'px'"
    [style.height]="maxHeight / 20 + 'px'"
    (click)="reset()"></div>
