<div class="apps-container">
  <div class="container">
    <div class="row">
      <div (click)="openLink('https://steam-coast.herokuapp.com/')" class="app steam-coast col-sm-3">
        <i class="outer-link fa fa-external-link" aria-hidden="true"></i>
        <div class="title">
          <span class="steam-coast-steam">Steam</span><span class="steam-coast-coast">Coast</span>
        </div>
        <div class="description">
          Compare steam games between your friends and see which ones are in common.
        </div>
      </div>
    </div>
  </div>
</div>
