/* You can add global styles to this file, and also import other style files */
html {
  font-style: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(0, 0, 0, .1);
  background-image: url('http://i.imgur.com/ttdlXvz.png');
  background-attachment: fixed;
  background-position: center;

  @extend .moving-diagonal;
}

.moving-diagonal {
  -webkit-animation: diagonal 360s ease-out infinite;
  animation: diagonal 360s ease-out infinite;
}

@media (max-width: 800px) {
  .moving-diagonal {
    -webkit-animation: diagonal 180s ease-out infinite;
    animation: diagonal 180s ease-out infinite;
  }
}

@-webkit-keyframes diagonal {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 100%;
  }
  50% {
    background-position: -100% 0;
  }
  75% {
    background-position: -100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes diagonal {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 100%;
  }
  50% {
    background-position: -100% 0;
  }
  75% {
    background-position: -100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}

.headline {
  font-size: 2.5em;
  font-weight: 600;

  color: white;

  text-align: center;

  border-bottom: 5px solid black;

  background-image: url('./assets/grid.jpg');
  background-attachment: fixed;
  background-position: center;
}

.headline .headline-text {
  height: 100%;
  background-color: rgba(0, 0, 0, .3);

  padding-top: 50px;
  padding-bottom: 25px;
}

.spacer {
  margin-top: 10px;
}


@media (max-width: 710px)  {
  .spacer {
    margin-top: 40px;
  }
}

@media (max-width: 330px)  {
  .spacer {
    margin-top: 50px;
  }
}

.content {
  background-color: rgba(0, 0, 0, 0.4);

  text-align: center;
  color: white;
  font-family: 'Catamaran', sans-serif;;
}

.content .intro{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 10px;

  font-size: 24px;
  text-align: left;
}

.content i {
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
  background-color: rgb(26, 103, 215);
  margin-bottom: 10px;
}

.Christmas {
  background-image: url('./assets/xmas.jpg');
  @extend .moving-down;
}

.moving-down {
  -webkit-animation: down 60s linear infinite;
  animation: down 60s linear infinite;
}


@media (max-width: 800px) {
  @-webkit-keyframes down {
      0% {
        background-position: 0 175%;
      }
      100% {
          background-position: 0 0;
      }
  }

  @keyframes down {
    0% {
      background-position: 0 175%;
    }
    100% {
        background-position: 0 0;
    }
  }
}

@-webkit-keyframes down {
    0% {
      background-position: 0 0;
    }
    100% {
        background-position: 0 175%;
    }
}

@keyframes down {
  0% {
    background-position: 0 0;
  }
  100% {
      background-position: 0 175%;
  }
}
