/* You can add global styles to this file, and also import other style files */
html {
  min-width: 320px;
  font-style: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(0, 0, 0, .1);
  background-image: url('http://i.imgur.com/RAg3BS4.png');
  background-attachment: fixed;
  background-position: center;
}

.headline {
  font-size: 36px;
  font-weight: 600;

  color: white;

  text-align: center;

  padding-top: 50px;
  padding-bottom: 25px;

  border-bottom: 5px solid black;

  background-image: url('./assets/grid.jpg');
  background-attachment: fixed;
  background-position: center;
}

.spacer {
  margin-top: 10px;
}


@media (max-width: 710px)  {
  .spacer {
    margin-top: 40px;
  }
}

@media (max-width: 330px)  {
  .spacer {
    margin-top: 50px;
  }
}

.content {
  background-color: rgba(0, 0, 0, 0.4);

  text-align: center;
  color: white;
  font-family: 'Catamaran', sans-serif;;
}

.content .intro{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 10px;

  font-size: 24px;
  text-align: left;
}

.content i {
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
  background-color: rgb(26, 103, 215);
  margin-bottom: 10px;
}

.Christmas {
  background-image: url('./assets/xmas.jpg');
  color: black;
}
